<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HTTP Video Stream</title>
  </head>
  <body>
    <h1>Video Streaming</h1>
    <video id="videoPlayer" width="350" controls muted="muted">
      <source src="http://127.0.0.1:3232/videos/beach" type="video/mp4" />
    </video>
    <video id="videoPlayer2" width="350" controls muted="muted">
      <source src="http://127.0.0.1:3232/videos/sand" type="video/mp4" />
    </video>
    <video id="videoPlayer3" width="350" controls muted="muted">
      <source src="http://127.0.0.1:3232/videos/lake" type="video/mp4" />
    </video>
  </body>
</html>

